@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


header{
    font-family:  'Open Sans' ;
    text-align: left;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    height: 70px;
    
}

h1>a{
    font-family:  'Open Sans' ;
    text-align: left;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin : 0;
    forced-color-adjust: white;
    float:left ;
    font-family:  'Open Sans' ;
    font-weight: 700;
}

 
 
 

 ul{
     list-style-type: none;
     background-color:black ;
     float: right;
     font-family:  'Open Sans' ;
     font-weight: 200;
     

 }

 li{
    float:left ;
}
    
    
 li a{
     display: block ;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;

}  





li a:hover{
    background-color: black;
    

}
    
div{
    
    position: center;
    padding-left: 20%  ;
    padding-right: 10% ;
    margin-left:10%;
    margin-right: 10%;
}




 
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family:  'Open Sans' ;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;

}

h4, h6{
    font-family:  'Open Sans'  ;
    font-weight: 900;


}

form {
    color: black;
    padding-left: 30%;
    font-family:  'Open Sans'  ;
    width: 30%;
    
    
}
input{
    width: 100%;
}

textarea{
    width: 100%;
}

    
.bott{
    color: white;
    font-weight: bold;
    border-radius: 50px;
    border: solid black 10px;
    background-color: black;
    cursor: pointer;
    width: 50%;
    margin-left: 0%;
}

.img{
    background-image: url("cafe3.jpg");
    background-position:center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin: 0;
}
