@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');



header{
    text-align: left;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    height: 70px;
    font-family:  'Open Sans' ;
    
}

h1>a{
    text-align: left;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin : 0;
    forced-color-adjust: white;
    float:left ;
    font-family:  'Open Sans' ;
    font-weight: 700;
}

 
 
 h2, h5{
    font-family:  'Open Sans'  ;
    font-weight: 700 ;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 50px;
 }

 ul{
     list-style-type: none;
     background-color:black ;
     font-family:  'Open Sans'  ;
     float: right;
     font-weight: 200;

 }

 li{
    float:left ;
}
    
    
 li a{
    display: block ;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    

}  


li a:hover{
    background-color: black;
    

}
    
.text1{
    color: white;
    text-align: center;
    font-family:  'Open Sans' ;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
   
}

.img{
    background-image: url("cafe1.jpg");
    background-position:center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin: 0;
}
hr{
    border-color: black;
    background-color: black;
    height: 4px;
    width: 100px;
    
    

}

.bott{
    color: white;
    font-weight: bold;
    border-radius: 50px;
    border: solid white 10px;
    margin-bottom: 20px;
    background-color:white;
    cursor: pointer;
    color: black;
    

}
    
 
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family:  'Open Sans' ;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;

}





