@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


header{
    text-align: left;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    height: 70px;
    font-family:  'Open Sans' ;
    
}

h1>a{
    text-align: left;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin : 0;
    forced-color-adjust: white;
    float:left ;
    font-family:  'Open Sans' ;
    font-weight: 700;
}
 


ul{
    list-style-type: none;
    background-color:black ;
    font-family:  'Open Sans'  ;
    float: right;
    font-weight: 200;

}

li{
   float:left ;
}
   
   
li a{
   display: block ;
   color: white;
   text-align: center;
   text-decoration: none;
   padding: 10px;
   

}  


li a:hover{
   background-color: black;
   

}
    





.blue{
    
    border-radius: 16px;
    color: white;
    background-color:  blue ;
    width:27px;
    text-align: center;
    display: inline-block; 
    font-family:  'Open Sans' ;
    
}
 
.orange{

    border-radius: 16px;
    color: white;
    background-color:  orange ;
    width: 27px;
    text-align: center;
    display: inline-block; 
    font-family:  'Open Sans' ;
 
}

h3, h4{
    position: top;
    margin-top: 0px;
    margin-left: 20px;
    font-family:  'Open Sans' ;
    font-weight: 600;
}
h6{
    color: gray;
    position: top;
    margin-top: 0px;
    margin-left: 20px;
    font-family:  'Open Sans' ;
}

.table{
    position: center ;
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    align-items: center;
    font-family:  'Open Sans' ;
}

hr{
    width: 275px;
    margin-left: 5%;
}

img{

    width: 300px;
    height: 300px;
    margin-left: 30% ;

}

 
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family:  'Open Sans' ;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;

}


    

